name: Test Exercises

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        compiler: [gcc, clang]

    steps:
    - uses: actions/checkout@v2.3.5
    - name: Test Exercises
      env:
        CC: ${{ matrix.compiler }}
      run: ./bin/run-tests
