name: Run Checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-18.04

    steps:
      - name: Install Indent
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y indent

      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579

      - name: Shell script static analysis
        run: shellcheck bin/fetch-configlet bin/verify-indent bin/check-unitybegin bin/run-tests indent.sh

      - name: Check style
        run: ./bin/verify-indent

      - name: Check Unity version
        run: ./bin/verify-unity-version

      - name: Check unitybegin()
        run: ./bin/check-unitybegin

      - name: Check links
        uses: lycheeverse/lychee-action@f76b8412c668f78311212d16d33c4784a7d8762c
        id: lychee
        with:
          args: --no-progress **/*.md **/*.html
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Fail if there were link errors
        run: exit ${{ steps.lychee.outputs.exit_code }}
