name: Run Checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579

      - name: Shell script static analysis
        run: shellcheck bin/fetch-configlet bin/verify-unity-version bin/check-unitybegin bin/run-tests format.sh

      - name: Check practices formatting
        run: |
          find exercises/practice/ -path '*/test-framework' -prune -o \
            \( -iname '*.h' -o -iname '*.c' \) -print0 |\
            xargs --null clang-format --dry-run --Werror

      - name: Check Unity version
        run: ./bin/verify-unity-version

      - name: Check unitybegin()
        run: ./bin/check-unitybegin

      - name: Check include guards
        run: ./bin/check-include-guards ./exercises/concept ./exercises/practice

      - name: Check links
        uses: lycheeverse/lychee-action@d2bc7de736f6be63f02f38316295eaf5ea507b9f
        id: lychee
        with:
          args: --no-progress **/*.md **/*.html
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Fail if there were link errors
        run: exit ${{ steps.lychee.outputs.exit_code }}
