name: "Format C code"

on:
  issue_comment:
    types: [created]

jobs:
  format:
    name: "Format C code"
    runs-on: ubuntu-20.04
    if: github.event.issue.pull_request != '' && contains(github.event.comment.body, '/format')
    steps:
      - name: 'Setup SSH deploy key'
        run: |
          mkdir ~/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: "Checkout code"
        run: |
          PR_DATA="/tmp/pr.json"

          jq -r ".issue.pull_request.url" "$GITHUB_EVENT_PATH" | \
            xargs curl --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' -o "$PR_DATA" --url

          HEAD_REF=$(jq -r ".head.ref" "$PR_DATA")
          HEAD_REPO=$(jq -r '.head.repo.ssh_url' "$PR_DATA")

          git clone $HEAD_REPO .
          git checkout -b "$HEAD_REF" "origin/$HEAD_REF"

      # - name: "Install clang-format"
      #   run: |
      #     sudo apt-get -qq update
      #     sudo apt-get install -y clang-format

      - name: "Format C code"
        run: ./format.sh

      - name: "Commit formatted C code"
        run: |
          # Check if there is nothing to commit (i.e. no formatting changes made)
          if [ -z "$(git status --porcelain)" ]; then
            echo "Code is already formatted correctly"
            exit 0
          fi

          # Set up the git user (required to commit anything)
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

          # Commit the changes made for code formatting
          git add .
          git commit -m "[CI] Format C code"
          git push
