name: Test Exercises

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        compiler: [gcc, clang]

    steps:
    - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
    - name: Test Exercises
      env:
        CC: ${{ matrix.compiler }}
      run: ./bin/run-tests -a
