name: Test Exercises

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        compiler: [gcc, clang]

    steps:
    - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
    - name: Test Exercises
      env:
        CC: ${{ matrix.compiler }}
      run: ./bin/run-tests -a
